#nav-bar {
    .login_link, .loged_user {
        font-weight: 700;
        display: flex;
        margin-bottom: 1rem;
    }

    .loged_user {
        &__link {
            color: red;
            margin-left: 1rem;
        }
    }
}

#search-bar {
    margin-top: 1rem;
}

@media (min-width: 480px) {
    #nav-bar {
        .login_link, .loged_user {
            float: right;
            margin-left: 2rem;
            margin-bottom: auto;
        }
    }
}
